name: .NET

on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:    
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Show variable
      run: |
        echo "token: ${{ secrets.GITHUB_TOKEN }}"
    - uses: actions/checkout@v4
      name: 'Checkout'
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v3
      with:
          versionSpec: '6.x'
    - name: Use GitVersion
      id: gitversion # step id used as reference for output values
      uses: gittools/actions/gitversion/execute@v3
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Publish win-x64
      run: dotnet publish ./operation-rooms.csproj -r win-x64 -c Release --self-contained true /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true /p:EnableCompressionInSingleFile=true /property:GenerateFullPaths=true
    - name: Publish osx-arm64
      run: dotnet publish ./operation-rooms.csproj -r osx-arm64 -c Release --self-contained true /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true /p:EnableCompressionInSingleFile=true /property:GenerateFullPaths=true
    - name: Prepare artifacts
      run: |
        cp bin/Release/net8.0/win-x64/publish/operation-rooms.exe ./operation-rooms-win-x64.exe
        cp bin/Release/net8.0/osx-arm64/publish/operation-rooms ./operation-rooms-osx-arm64
        chmod +x ./operation-rooms-osx-arm64
        zip --junk-paths -r package-win-x64.zip ./operation-rooms-win-x64.exe
        zip --junk-paths -r package-osx-arm64.zip ./operation-rooms-osx-arm64
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.gitversion.outputs.fullSemVer }}
        release_name: Release ${{ steps.gitversion.outputs.fullSemVer }}
        draft: false
        prerelease: false
    - name: Upload Release Asset (win-x64)
      id: upload-release-asset-win
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
        asset_path: ./package-win-x64.zip
        asset_name: package-win-x64.zip
        asset_content_type: application/zip
    - name: Upload Release Asset (osx-arm64)
      id: upload-release-asset-osx
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./package-osx-arm64.zip
        asset_name: package-osx-arm64.zip
        asset_content_type: application/zip
        
        
  #  - name: 'Upload package'  
  #    uses: actions/upload-artifact@v1
  #    with:
  #      name: windows-operationroom
  #      path: ./bin/release/netcoreapp3.1/win10-x64/publish/operation-rooms.exe
